<html>
<head>
title=name
</head>
<body>
<h1> Following are the titles of given websites: </h1>
<ul>
if flag == 1
  <li> #{url} - "#{name}" </li>
else
 - for (var i = 0; i < valid.length; i++)
    <li> #{valid[i]} - "#{title[i]}" </li>

</ul>
</body>
</html>